@charset "UTF-8";
body {
  font-size: 16px;
  color: #3E3E3E;
  background-color: #F3F3F3;
  font-family: 'Montserrat', '游ゴシック', 'serif';
}

.section-title {
  font-size: 30px;
}

@media screen and (min-width: 681px) {
  .section-title {
    font-size: 36px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
header {
  width: 100%;
  height: 68px;
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  z-index: 100;
}

header .logo {
  margin-left: 1rem;
  line-height: 68px;
}

header .logo img {
  vertical-align: middle;
}

@media screen and (min-width: 681px) {
  header .logo img {
    display: none;
  }
}

.global-nav {
  position: fixed;
  right: -320px;
  /* これで隠れる */
  top: 0;
  width: 300px;
  /* スマホに収まるくらい */
  height: 100vh;
  padding-top: 197px;
  font-size: 18px;
  background-color: #fff;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto;
  /* メニューが多くなったらスクロールできるように */
}

@media screen and (min-width: 681px) {
  .global-nav {
    width: 100%;
    /* スマホに収まるくらい */
    height: 68px;
    right: 0px;
    padding-top: 0;
    background-color: rgba(255, 255, 255, 0.1);
    transition: none;
    vertical-align: middle;
  }
}

.global-nav__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: all 1s;
}

@media screen and (min-width: 681px) {
  .global-nav__list {
    display: flex;
    width: 80%;
    max-width: 1000px;
    height: 68px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 0;
    align-items: center;
  }
}

.global-nav__item {
  text-align: center;
}

.global-nav__item a {
  display: inline-block;
  margin: 0 0 20px 0;
  text-decoration: none;
  color: #3E3E3E;
  transition: 0.2s;
}

.global-nav__item a:hover {
  transform: scale(1.5, 1.5);
  opacity: 0.5;
}

@media screen and (min-width: 681px) {
  .global-nav__item a {
    margin: 0;
  }
}

.hamburger {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  width: 26px;
  /* クリックしやすいようにちゃんと幅を指定する */
  height: 20px;
  /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
  vertical-align: middle;
}

@media screen and (min-width: 681px) {
  .hamburger {
    display: none;
  }
}

.hamburger__line {
  position: absolute;
  width: 26px;
  height: 4px;
  background-color: #111;
  transition: all .6s;
}

@media screen and (min-width: 681px) {
  .hamburger__line {
    margin-right: 40px;
    font-size: 1rem;
    padding: 0;
  }
}

.hamburger__line--1 {
  top: 0px;
}

.hamburger__line--2 {
  top: 8px;
}

.hamburger__line--3 {
  top: 16px;
}

.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #3E3E3E;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}

@media screen and (min-width: 681px) {
  .black-bg {
    display: none;
    position: fixed;
  }
}

/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}

.nav-open .black-bg {
  opacity: .7;
  visibility: visible;
}

.nav-open .hamburger__line--1 {
  right: 300px;
  transform: rotate(405deg);
  top: 8px;
}

.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}

.nav-open .hamburger__line--3 {
  right: 300px;
  transform: rotate(-405deg);
  top: 8px;
}

.hero-wrapper {
  position: relative;
}

.hero-wrapper .hero-img {
  height: 667px;
  background: url(../img/mv.png);
  background-size: cover;
  background-position: -250px;
}

@media screen and (min-width: 980px) {
  .hero-wrapper .hero-img {
    background-position: center center;
  }
}

.hero-wrapper .hero-container {
  position: absolute;
  max-width: 100%;
  width: 343px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hero-wrapper h3 {
  width: 336px;
  font-size: 1.5rem;
}

.hero-wrapper p {
  width: 343px;
  font-size: 1rem;
  margin-top: 40px;
}

.hero-wrapper .btn {
  width: 232px;
  height: 50px;
  background-color: #FFAA3B;
  border-radius: 10px;
  text-align: center;
  margin: 40px auto 0;
  box-shadow: 0 3px 5px 0 rgba(62, 62, 62, 0.2);
}

.hero-wrapper .btn a {
  display: block;
  color: #FFFFFF;
  line-height: 50px;
  text-decoration: none;
}

.hero-wrapper .hero-btn {
  width: 100%;
  max-width: 232px;
  height: 50px;
  background-color: #FFAA3B;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 0 5px 12px 0 rgba(62, 62, 62, 0.2);
}

.hero-wrapper .hero-btn a {
  display: block;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 50px;
  text-decoration: none;
  transition: .1s;
}

.hero-wrapper .hero-btn a:hover {
  background-color: #FFFFFF;
  color: #FFAA3B;
  border-radius: 10px;
}

@media screen and (min-width: 980px) {
  .hero-wrapper .hero-btn {
    min-width: 280px;
    margin: 40px 0 0 0;
  }
}

@media screen and (min-width: 980px) {
  .hero-wrapper .hero-container {
    position: absolute;
    max-width: 100%;
    width: 524px;
    height: 264px;
    top: 54%;
    left: 73%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .hero-wrapper h3 {
    width: 420px;
    height: 84px;
    font-size: 30px;
  }
  .hero-wrapper p {
    width: 524px;
    height: 49px;
    font-size: 18px;
  }
  .hero-wrapper .btn {
    width: 280px;
    height: 51px;
    margin: 40px 0 0 0;
  }
  .hero-wrapper .btn a {
    display: block;
    color: #FFFFFF;
    line-height: 50px;
    text-decoration: none;
  }
}

.news-wrapper {
  height: 630px;
}

@media screen and (min-width: 980px) {
  .news-wrapper {
    height: 100%;
    padding: 130px 0;
  }
}

.news-container {
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, -6%);
  max-width: 1180px;
  width: 80%;
  background-color: #FFFFFF;
  padding: 40px 0;
  margin: 0 auto;
  box-shadow: 0 5px 12px 0 rgba(62, 62, 62, 0.2);
}

@media screen and (min-width: 980px) {
  .news-container {
    position: static;
    -ms-transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    padding: 60px 50px 40px;
  }
}

.news-container .section-title {
  padding: 0 0 40px 0;
  text-align: center;
}

@media screen and (min-width: 980px) {
  .news-container .section-title {
    padding: 0 0 60px 0;
  }
}

.news-container .news-item {
  display: grid;
  grid-template-rows: 47px 1fr;
  grid-template-columns: 90px 110px 1fr 40px;
  padding: .8rem 1rem;
  font-size: 14px;
  border-top: solid 2px #cecdcd;
}

.news-container .news-item:last-child {
  border-bottom: solid 2px #cecdcd;
}

.news-container .news-item:hover {
  background-color: rgba(73, 115, 255, 0.1);
  cursor: pointer;
}

@media screen and (min-width: 980px) {
  .news-container .news-item {
    padding: 40px 1rem;
    grid-template-rows: 81px 1fr;
    grid-template-columns: 110px 245px 1fr 40px;
    font-size: 18px;
  }
}

.news-container .news-item .date {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  line-height: 47px;
}

@media screen and (min-width: 980px) {
  .news-container .news-item .date {
    line-height: 81px;
  }
}

.news-container .news-item .text {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  font-size: 12px;
  line-height: 28px;
  margin: auto 0 auto 20px;
  text-align: center;
  border: solid 2px #3B69FF;
  border-radius: 50px;
}

@media screen and (min-width: 980px) {
  .news-container .news-item .text {
    margin: auto 60px;
  }
}

.news-container .news-item .news {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  margin: auto 0;
}

@media screen and (min-width: 980px) {
  .news-container .news-item .news {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }
}

.news-container .news-item .arrow {
  grid-row: 1 / 3;
  grid-column: 4 / 5;
  position: relative;
}

.news-container .news-item .arrow::before, .news-container .news-item .arrow::after {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
}

.news-container .news-item .news-arrow::before {
  left: 22px;
  width: 15px;
  height: 15px;
  border-top: 3px solid #3E3E3E;
  border-right: 3px solid #3E3E3E;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.news-container .more {
  width: 90%;
  max-width: 311px;
  height: 54px;
  font-size: 18px;
  margin: 40px auto 0;
  border: solid 1px #707070;
  text-align: center;
  line-height: 54px;
  cursor: pointer;
}

@media screen and (min-width: 980px) {
  .news-container .more {
    width: 248px;
    height: 64px;
    line-height: 64px;
  }
}

.news-container .more a {
  font-size: 18px;
  display: block;
  transition: .3s;
}

.news-container .more a:hover {
  background-color: #3E3E3E;
  color: #FFFFFF;
}

.news-container .news-btn {
  width: 100%;
  max-width: 311px;
  height: 54px;
  background-color: #FFFFFF;
  border-radius: 0px;
  text-align: center;
  margin: 0 auto;
  margin: 40px auto 0;
  border: solid 1px #707070;
}

.news-container .news-btn a {
  display: block;
  font-size: 18px;
  color: #3E3E3E;
  line-height: 54px;
  text-decoration: none;
  transition: .1s;
}

.news-container .news-btn a:hover {
  background-color: #3E3E3E;
  color: #FFFFFF;
  border-radius: 0px;
}

.service-wrapper {
  width: 100%;
  height: 480px;
  margin-bottom: 565px;
  background-color: #3E3E3E;
}

@media screen and (min-width: 681px) {
  .service-wrapper {
    height: 400px;
    margin-bottom: 255px;
  }
}

.service-wrapper .section-title {
  padding: 40px 0;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 681px) {
  .service-wrapper .section-title {
    padding: 80px 0;
  }
}

.service-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 0 auto 0;
  background-color: #FFFFFF;
  box-shadow: 0 5px 12px 0 rgba(62, 62, 62, 0.2);
}

@media screen and (min-width: 681px) {
  .service-container {
    max-width: 960px;
  }
}

.service-items {
  padding: 40px 1rem;
}

.service-items:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 681px) {
  .service-items {
    display: flex;
    padding: 54px 48px 0;
  }
}

.service-item {
  width: 100%;
  padding: 0 0 65px 0;
  text-align: center;
}

@media screen and (min-width: 681px) {
  .service-item {
    margin-right: 1rem;
  }
  .service-item:last-child {
    margin-right: 0;
  }
}

.service-item .service-title {
  font-size: 18px;
  letter-spacing: 3.6px;
  margin: 24px;
}

@media screen and (min-width: 681px) {
  .service-item .service-title {
    font-size: 20px;
    height: 54px;
    margin-bottom: 20px;
  }
}

.service-item .text {
  font-size: 14px;
  max-width: 311px;
  margin: 0 auto;
}

@media screen and (min-width: 681px) {
  .service-item .text {
    width: 100%;
    max-width: 231px;
  }
}

.results-wrapper {
  padding: 40px 0 40px 16px;
  background-color: #3E3E3E;
}

@media screen and (min-width: 681px) {
  .results-wrapper {
    margin-left: 93px;
    padding: 80px 0 80px 110px;
  }
}

.results-container .section-title {
  color: #FFFFFF;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 681px) {
  .results-container .section-title {
    margin-bottom: 80px;
    text-align: left;
  }
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  width: 277px !important;
  text-align: center;
}

@media screen and (min-width: 681px) {
  .swiper-slide {
    width: 422px !important;
  }
}

.swiper-slide img {
  width: 100%;
  display: block;
}

.swiper-slide .card-subtitle {
  font-size: 15px;
  margin-bottom: 12px;
}

@media screen and (min-width: 681px) {
  .swiper-slide .card-subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.swiper-slide p {
  font-size: 12px;
}

@media screen and (min-width: 681px) {
  .swiper-slide p {
    font-size: 16px;
  }
}

/* 全体のスタイル */
.swiper-pagination {
  position: relative !important;
  margin: 24px auto 40px 0;
}

@media screen and (min-width: 681px) {
  .swiper-pagination {
    text-align: left !important;
    margin: 48px 0 48px;
  }
}

.swiper-pagination-bullet {
  width: 20px !important;
  /* 幅 */
  height: 20px !important;
  /* 高さ */
  background: #FFFFFF !important;
  /* 色：緑 */
  margin-right: 20px;
  opacity: 1 !important;
  /* 半透明（デフォルトでは0.2） */
}

/* 現在のスライドのスタイル */
.swiper-pagination-bullet-active {
  width: 20px !important;
  /* 幅 */
  height: 20px !important;
  /* 高さ */
  background: #FFFFFF !important;
  /* 色：黄色 */
  opacity: 1;
  /* 不透明 */
  padding: 4px;
  border: solid 1px #FFFFFF;
  box-shadow: 0px 0px 0px 2px #3E3E3E inset;
}

.results-card-bottom {
  width: 100%;
  padding: 12px;
  background-color: #FFFFFF;
}

@media screen and (min-width: 681px) {
  .results-card-bottom {
    text-align-last: left;
    padding: 20px;
  }
}

.results-btn {
  width: 100%;
  max-width: 343px;
  height: 54px;
  background-color: #3E3E3E;
  border-radius: 0px;
  text-align: center;
  margin: 0 auto;
  border: solid 1px #FFFFFF;
}

.results-btn a {
  display: block;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 54px;
  text-decoration: none;
  transition: .1s;
}

.results-btn a:hover {
  background-color: #FFFFFF;
  color: #3E3E3E;
  border-radius: 0px;
}

@media screen and (min-width: 681px) {
  .results-btn {
    margin: 0;
  }
}

.price-wrapper dl {
  position: relative;
  width: 80%;
  max-width: 960px;
  margin: 117px auto 90px;
  font-size: 20px;
  border-top: hidden;
}

.price-wrapper dl:last-child {
  border-bottom: hidden;
}

.price-wrapper dl:before {
  position: absolute;
  content: 'Price';
  width: 94px;
  height: 44px;
  line-height: 44px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  left: 50%;
  -ms-transform: translate(-50%, -80px);
  -webkit-transform: translate(-50%, -80px);
  transform: translate(-50%, -80px);
}

@media screen and (min-width: 681px) {
  .price-wrapper dl:before {
    font-size: 36px;
  }
}

.price-wrapper dl:after {
  content: '※ 上記料金はサンプルです。';
  font-size: 12px;
  line-height: 25px;
}

.price-wrapper .list {
  display: flex;
  border-right: solid 1px #707070;
}

.price-wrapper .list:first-child {
  border-top: solid 1px #707070;
}

@media screen and (min-width: 980px) {
  .price-wrapper .list {
    height: 60px;
    line-height: 60px;
  }
}

.price-wrapper dt {
  width: 40%;
  color: #FFFFFF;
  background-color: #3E3E3E;
  text-align: center;
  border-bottom: solid 1px #707070;
}

.price-wrapper dd {
  width: 70%;
  padding-left: 1rem;
  border-bottom: solid 1px #3E3E3E;
  background-color: #FFFFFF;
}

.comments-wrapper {
  margin-top: 150px;
  height: 100%;
  background-color: #3E3E3E;
}

@media screen and (min-width: 980px) {
  .comments-wrapper {
    width: 75%;
    height: 600px;
  }
}

.comments-container {
  position: relative;
  width: 90%;
  max-width: 644px;
  top: -60px;
  padding: 40px 20px;
  margin: 0px auto 0;
  background-color: #FFFFFF;
}

@media screen and (min-width: 980px) {
  .comments-container {
    margin: auto 0 0 100px;
    padding: 80px 40px 120px;
    top: -130px;
  }
}

.comments-inner {
  width: 100%;
  max-width: 564px;
  margin: 0 auto;
}

.comments-inner .section-title {
  margin-bottom: 40px;
}

@media screen and (min-width: 980px) {
  .comments-inner .section-title {
    margin-bottom: 80px;
  }
}

.comments-inner .section-item {
  display: flex;
  margin-bottom: 30px;
}

@media screen and (min-width: 980px) {
  .comments-inner .section-item {
    margin-bottom: 76px;
  }
}

.comments-inner .section-item:last-child {
  margin-bottom: 0;
}

.comments-inner .section-item img {
  width: 56px;
  height: 56px;
  margin-right: 24px;
}

@media screen and (min-width: 980px) {
  .comments-inner .section-item img {
    width: 100px;
    height: 100px;
    margin-right: 50px;
  }
}

.comments-inner .section-item p {
  width: 100%;
  max-width: 414px;
}

.comments-img3 img {
  display: none;
}

@media screen and (min-width: 980px) {
  .comments-img3 img {
    position: relative;
    display: inline-block;
    -ms-transform: translate(744px, -620px);
    -webkit-transform: translate(744px, -620px);
    transform: translate(744px, -620px);
  }
}

.qa-wrapper {
  background-image: url("../img/sunyu-kim-1053375-unsplash.png");
  padding: 40px 0;
  height: 800px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 681px) {
  .qa-wrapper {
    height: 900px;
  }
}

.qa-container {
  margin: 0px auto;
}

@media screen and (min-width: 681px) {
  .qa-container {
    margin-left: 50%;
  }
}

.qa-container .section-title {
  text-align: center;
}

@media screen and (min-width: 681px) {
  .qa-container .section-title {
    text-align: left;
  }
}

.qa-list {
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  padding-top: 40px;
}

@media screen and (min-width: 681px) {
  .qa-list {
    width: 90%;
    max-width: 616px;
    margin-right: 109px;
    margin: 0;
  }
}

.qa-item {
  padding: 18px;
  margin: 0 .5rem 30px;
  background-color: #FFFFFF;
  border-radius: 7px;
}

@media screen and (min-width: 681px) {
  .qa-item {
    margin: 0 0 40px 0;
  }
}

.qa-item:last-child {
  margin-bottom: 0;
}

.qa-question {
  display: flex;
  align-items: center;
}

.qa-question span {
  display: block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  margin-right: 13px;
  color: #FFFFFF;
  background-color: #3B69FF;
  border-radius: 50%;
  text-align: center;
}

.qa-question p {
  max-width: 80%;
}

.qa-question img {
  margin-left: auto;
}

.qa-question .minus {
  display: none;
}

.qa-answer {
  display: none;
  padding: 18px 14px;
  margin: 18px 0 0 0;
  background-color: rgba(73, 115, 255, 0.1);
  border-radius: 7px;
}

.access-wrapper {
  color: #FFFFFF;
  background-color: #3E3E3E;
}

@media screen and (min-width: 980px) {
  .access-wrapper {
    width: 75%;
    margin: 0 0 206px 0;
  }
}

.access-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 0;
}

@media screen and (min-width: 980px) {
  .access-container {
    max-width: 1500px;
    padding: 130px 0 178px 0;
    margin: 0;
  }
}

.access-items {
  margin: 0 1rem;
}

@media screen and (min-width: 980px) {
  .access-items {
    margin: 0 0 0 93px;
  }
}

.access-items .section-title {
  margin-bottom: 39px;
}

.access-items p {
  margin-bottom: 19px;
  font-size: 14px;
}

@media screen and (min-width: 980px) {
  .access-items p {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

.access-items .iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: calc(515 / 720 * 100%);
  /* = height ÷ width × 100 */
  margin-bottom: 40px;
}

@media screen and (min-width: 980px) {
  .access-items .iframe-wrap {
    top: -192px;
    left: 397px;
    margin-bottom: 0px;
    width: 85%;
    padding-top: calc(515 / 720 * 85%);
    /* = height ÷ width × 100 */
  }
}

.access-items .iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 980px) {
  .access-items .iframe-wrap iframe {
    max-height: 640px;
  }
}

.access-items .btn {
  width: 100%;
  max-width: 326px;
  height: 54px;
  line-height: 54px;
  border: solid 1px #FFFFFF;
  margin: 0 auto;
}

@media screen and (min-width: 980px) {
  .access-items .btn {
    position: relative;
    height: 64px;
    line-height: 64px;
    margin: -60% 0 0 0;
  }
}

.access-items .btn a {
  position: relative;
  display: block;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
}

.contact-wrapper {
  background-image: url("../img/alex-blajan-159378-unsplash.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}

@media screen and (min-width: 681px) {
  .contact-wrapper {
    padding: 60px 0;
  }
}

.contact-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (min-width: 681px) {
  .contact-container {
    max-width: 960px;
  }
}

.contact-container-top {
  background-image: url("../img/contact1.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 160px;
  text-align: center;
  color: #FFFFFF;
  padding: 32px;
  margin: 0 1rem;
}

.contact-container-top p {
  font-size: 14px;
  margin-top: 10px;
}

@media screen and (min-width: 681px) {
  .contact-container-top p {
    font-size: 16px;
  }
}

.contact-container-bottom {
  margin: 0 1rem;
  padding: 40px 1rem;
  background-color: #FFFFFF;
}

@media screen and (min-width: 681px) {
  .contact-container-bottom {
    padding: 60px 90px;
  }
}

form {
  color: #3E3E3E;
}

@media screen and (min-width: 681px) {
  form {
    font-size: 22px;
  }
}

@media screen and (min-width: 681px) {
  form .list {
    display: flex;
    height: 52px;
    line-height: 52px;
    margin-bottom: 40px;
  }
}

form dt {
  position: relative;
  margin-bottom: 10px;
}

@media screen and (min-width: 681px) {
  form dt {
    width: 40%;
    margin-bottom: 10px;
  }
}

form .kanji:after {
  position: absolute;
  content: '必須';
  width: 55px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF4646;
  border-radius: 5px;
  top: 0px;
  left: 84px;
}

@media screen and (min-width: 681px) {
  form .kanji:after {
    top: 14px;
  }
}

form .katakana:after {
  position: absolute;
  content: '必須';
  width: 55px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF4646;
  border-radius: 5px;
  top: 0px;
  left: 84px;
  margin-left: 32px;
}

@media screen and (min-width: 681px) {
  form .katakana:after {
    top: 14px;
  }
}

form dd {
  margin-bottom: 40px;
}

@media screen and (min-width: 681px) {
  form dd {
    width: 60%;
  }
}

form dd:nth-last-child(-n + 2) {
  margin-bottom: 20px;
}

@media screen and (min-width: 681px) {
  form dd:nth-last-child(-n + 2) {
    margin-bottom: 30;
  }
}

form .select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(https://haniwaman.com/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 8px/16px 16px;
  border: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 5px 20px;
  width: 100%;
}

@media screen and (min-width: 681px) {
  form .select {
    width: 80%;
  }
}

form .select:-ms-expand {
  display: none;
}

form .select:focus {
  border: 1px solid #707070;
  box-shadow: none;
  outline: none;
}

form .text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-bottom: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: 0 10px;
  width: 100%;
}

form .text:focus {
  border-bottom: 1px solid #707070;
  box-shadow: none;
  outline: none;
}

form .radio {
  display: none;
}

form .radio + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 calc(50% - 75px) 0 27px;
  position: relative;
}

form .radio + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  border-radius: 50%;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

form .radio + span::after {
  -webkit-transform: translateY(-50%);
  background: #3B69FF;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  width: 4px;
  height: 4px;
  left: 3px;
  opacity: 0;
  padding: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.1s ease 0s;
}

form .radio:checked + span::after {
  opacity: 1;
}

form .textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  height: 160px;
  padding: 0.4em 0.8em;
}

@media screen and (min-width: 681px) {
  form .textarea {
    width: 167%;
    height: 213px;
  }
}

form .textarea:focus {
  border: 1px solid #707070;
  box-shadow: none;
  outline: none;
}

form .checkbox {
  display: none;
}

form .checkbox + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 38px;
  position: relative;
  width: 150%;
}

form .checkbox + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  border-radius: 2px;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

form .checkbox + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 2px solid #3B69FF;
  border-left: 2px solid #3B69FF;
  content: "";
  display: block;
  height: 8px;
  left: 2px;
  margin-top: -2px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.1s ease 0s;
  width: 14px;
}

form .checkbox:checked + span::after {
  opacity: 1;
}

form .btn {
  width: 100%;
  max-width: 121px;
  height: 50px;
  background-color: #FFAA3B;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 5px 12px 0 rgba(62, 62, 62, 0.2);
}

form .btn a {
  display: block;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 50px;
  text-decoration: none;
  transition: .1s;
}

form .btn a:hover {
  background-color: #FFFFFF;
  color: #FFAA3B;
  border-radius: 10px;
}

@media screen and (min-width: 681px) {
  form .btn {
    max-width: 174px;
    margin: 0;
  }
}

.footer-wrapper {
  padding: 60px 35px 92px;
  color: #FFFFFF;
  background-color: #3E3E3E;
}

@media screen and (min-width: 980px) {
  .footer-wrapper {
    padding: 120px 93px;
  }
}

.footer-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 980px) {
  .footer-container {
    display: flex;
    max-width: 1180px;
    margin: 0;
    text-align: left;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 980px) {
  .footer-left {
    width: 30%;
  }
}

.footer-sns {
  margin: 0 0 40px 0;
}

@media screen and (min-width: 980px) {
  .footer-sns {
    margin: 0;
  }
}

.footer-sns .fab {
  font-size: 36px;
}

.footer-sns .fa-twitter {
  margin-right: 132px;
}

@media screen and (min-width: 980px) {
  .footer-sns .fa-twitter {
    margin: 0 20px 40px 0;
  }
}

.footer-text {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
  font-size: 14px;
}

@media screen and (min-width: 980px) {
  .footer-text {
    display: block;
    margin-bottom: 0;
    font-size: 18px;
  }
}

.footer-text p {
  margin-bottom: 20px;
}

.footer-text p:last-child {
  margin-bottom: 0;
}

.footer-text .sitemap {
  width: 50%;
}

@media screen and (min-width: 980px) {
  .footer-text .sitemap {
    width: 100%;
  }
}

.footer-text .personal-info {
  width: 50%;
}

@media screen and (min-width: 980px) {
  .footer-text .personal-info {
    width: 100%;
  }
}

.footer-text .privacy {
  width: 100%;
}

.footer-logo {
  font-size: 34px;
}

@media screen and (min-width: 980px) {
  .footer-logo {
    font-size: 44px;
  }
}

.copy-right {
  font-size: 12px;
}

.totpo {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
