// ベース色
$color-main: #3E3E3E;
$color-main-light: rgba(62, 62, 62, 0.2);
$color-sub: #707070;


$color-header: rgba(255, 255, 255, 0.1);
$color-btn1: #FFAA3B;
$color-shadow: rgba(62, 62, 62, 0.2);
$color-line: rgba(206, 205, 205, 1);


$color-white: #FFFFFF;
$color-bg-white: #F3F3F3;
$color-blue: #3B69FF;
$color-blue-light: rgba(73, 115, 255, 0.1);
$color-red: #FF4646;
